
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Roboto:wght@400;900&display=swap');

body {font-family: "Mulish", sans-serif; 
}



h1 {
    text-decoration: underline;
    text-align: center; 
    font-weight: 900;
} 

h3 { font-family: "Roboto", sans-serif;
font-weight: 900;}

ul strong {font-weight: 900}